<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Agro App | Login</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<body>

  <div class="login-container">
    <div class="login-card">
      <h2>AgroApp</h2>
      <p>Inicia sesión para continuar</p>

      <div class="field">
        <input id="user" placeholder=" " autocomplete="off">
        <label>Usuario</label>
      </div>

      <div class="field">
        <input id="pass" type="password" placeholder=" ">
        <label>Contraseña</label>
      </div>

      <button id="btnLogin">Entrar</button>

      <span id="loginError"></span>
    </div>
  </div>

  <script src="/js/login.js"></script>
</body>
</html>
