<div class="content-wrapper animate-fade-in">
    <div class="section-header-main">
        <div>
            <h2 class="text-gradient">Gestión de reportes</h2>
            <p class="subtitle">Administra la base de datos de tus reportes.</p>
        </div>
    </div>

    <div class="card table-card">
        <div class="table-wrapper">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Nombre Reporte</th>
                        <th>Nombre del Cliente</th>
                        <th>Vehículos revisados</th>
                        <th>Llantas revisadas</th>
                        <th>Fecha revision</th>
                    </tr>
                </thead>    
                <tbody id="reportesBody">
                    </tbody>
            </table>
        </div>
    </div>
</div>
